[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
pillow = "*"
python-dotenv = "*"
celery = "*"
redis = "*"
openpyxl = "*"
django-ratelimit = "*"
dj-database-url = "*"
gunicorn = "*"

[dev-packages]
hypothesis = "*"

[requires]
python_version = "3.14"
